# Global options
{
    admin off
    persist_config off
    auto_https off

    log {
        format json
    }

    servers {
        trusted_proxies static private_ranges
    }
}

# Serve Angular build output on Railway
:{$PORT} {
    log {
        format json
    }

    # Health check untuk Railway
    rewrite /health /*

    # Arahkan ke folder output Angular
    root * {$ANGULAR_OUTPUT_PATH}

    # Aktifkan gzip untuk mempercepat loading
    encode gzip

    # Serve file statis dari Angular build
    file_server

    # Redirect semua request ke index.html untuk client-side routing
    try_files {path} /index.html
}
