# Global options
{
	admin off # There's no need for the admin API in Railway's environment
	persist_config off # Storage isn't persistent anyway
	auto_https off # Railway handles HTTPS for us, this would cause issues if left enabled

	# Runtime logs
	log {
		output stdout
		format console
		level DEBUG # Menampilkan log lebih detail untuk debugging
	}

	# Server options
	servers {
		trusted_proxies static private_ranges # Trust Railway's proxy
	}
}

# Site block, listens on the $PORT environment variable, automatically assigned by Railway
:{$PORT} {
	# Access logs
	log {
		output stdout
		format console
		level DEBUG # Menampilkan log lebih detail untuk debugging
	}

	# Health check for Railway
	rewrite /health /*

	# Tambahkan log untuk menampilkan path yang digunakan sebagai root
	@debug {
		path /*
	}
	handle @debug {
		log {
			output stdout
			format console
			level INFO
		}
		header {
			X-Root-Path "{$ANGULAR_OUTPUT_PATH}"
		}
	}

	# Periksa apakah output path valid
	root * {$ANGULAR_OUTPUT_PATH}

	# Enable gzipping responses
	encode gzip

	# Serve files
	file_server

	# Jika path tidak ditemukan, tampilkan log error
	@notfound {
		file {
			try_files {path} /index.html
		}
	}
	handle @notfound {
		log {
			output stdout
			format console
			level ERROR
		}
		header {
			X-File-Not-Found "{path}"
		}
	}
}
